@{
    Layout = null; // Use this if you don't want to use a layout page
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Travel Blog</title>
    <link href="~/css/site.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <h1 class="logo">Travel Blog</h1>
                <ul class="nav-links">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("Index", "Blog")">Blog</a></li>
                    <li><a href="@Url.Action("Index", "Data")">Data</a></li>
                    <li><a href="@Url.Action("Index", "About")">About</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="blog-posts">
        <h2>Latest Travel Blog Posts</h2>
        <div class="container">
            <button class="cross-button" onclick="showAllPosts()">&#x2716;</button>
            <article class="blog-post" onclick="toggleVisibility(this)">
                <img src="https://images.unsplash.com/photo-1710839031473-27be50909585?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTcxMzQ1OTY2MA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080" alt="Tokyo">
                <h3>New York Big Apple Bytes</h3>
                <div class="data">
                    <p class="post-meta">Posted on April 18, 2024</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut felis at odio feugiat volutpat.</p>
                    <button class="like-button">&#x1F44D; Like</button>
                    <button class="dislike-button">&#x1F44E; Dislike</button>
                    <span class="view-counter">Views: 0</span>
                </div>
            </article>

            <article class="blog-post" onclick="toggleVisibility(this)">
                <img src="https://images.unsplash.com/photo-1710976329448-a5bbda1b1a83?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTcxMzQ1OTcyNw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080" alt="Paris">
                <h3>A Week in Paris: The City of Love</h3>
                <div class="data">
                    <p class="post-meta">Posted on April 18, 2024</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut felis at odio feugiat volutpat.</p>
                    <button class="like-button">&#x1F44D; Like</button>
                    <button class="dislike-button">&#x1F44E; Dislike</button>
                    <span class="view-counter">Views: 0</span>
                </div>
            </article>

            <article class="blog-post" onclick="toggleVisibility(this)">
                <img src="https://images.unsplash.com/photo-1510797215324-95aa89f43c33?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8YmFsaXx8fHx8fDE3MTM0NTk3NjM&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080" alt="Bali">
                <h3>Discovering the Beauty of Bali</h3>
                <div class="data">
                    <p class="post-meta">Posted on April 18, 2024</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut felis at odio feugiat volutpat.</p>
                    <button class="like-button">&#x1F44D; Like</button>
                    <button class="dislike-button">&#x1F44E; Dislike</button>
                    <span class="view-counter">Views: 0</span>
                </div>
            </article>

            <article class="blog-post" onclick="toggleVisibility(this)">
                <img src="https://images.unsplash.com/photo-1710839031473-27be50909585?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTcxMzQ1OTY2MA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080" alt="Tokyo">
                <h3>Exploring the Beauty of India</h3>
                <div class="data">
                    <p class="post-meta">Posted on April 18, 2024</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut felis at odio feugiat volutpat.</p>
                    <button class="like-button">&#x1F44D; Like</button>
                    <button class="dislike-button">&#x1F44E; Dislike</button>
                    <span class="view-counter">Views: 0</span>
                </div>
            </article>

            <article class="blog-post" onclick="toggleVisibility(this)">
                <img src="https://source.unsplash.com/featured/?mountain" alt="Bali">
                <h3>Switzerland the beauty of world</h3>
                <div class="data">
                    <p class="post-meta">Posted on April 18, 2024</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut felis at odio feugiat volutpat.</p>
                    <button class="like-button">&#x1F44D; Like</button>
                    <button class="dislike-button">&#x1F44E; Dislike</button>
                    <span class="view-counter">Views: 0</span>
                </div>
            </article>


            <!-- Add other articles here -->


        </div>
        <div>
            <button class="edit-button" style="display: none;" onclick="alert('Edit functionality will be implemented soon!')">
                <a>Edit</a>
            </button>
            <button class="delete-button" style="display: none;" onclick="alert('Delete functionality will be implemented soon!')">
                <a>Delete</a>
            </button>
        </div>
    </section>
    <button class="create-button"><a href="~/Create" style="text-decoration: none; color: inherit;">Create</a></button>
    <div class="link-image">
        <img src="https://i.postimg.cc/90GjJBgH/Assignment-3-Viz.png" alt="">
    </div>
    <script src="~/js/site.js"></script>

</body>
</html>
